.landing-page-container {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-position: center;
    background-size: cover;
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

#logo {
    margin-right: auto;
    height: px40;
    width: 40px;
}

.landing-page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
