.heading1 {
    font-size: 150px;
}

.heading2 {
    font-size: 100px;
}

.heading3 {
    font-size: 56px;
}

.heading4 {
    font-size: 32px;
}

.heading5 {
    font-size: 28px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4.75px;
}

.subheading1 {
    font-size: 28px;
}

.subheading2 {
    font-size: 14px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.35px;
}

.nav-text {
    font-size: 16px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.7px;
}
